$redcolor = red

*
 margin 0
 padding 0

html
 height 100%

body
 height 100%
 font 14px "Lucida Grande", Helvetica, Arial, sans-serif

#panel
 position absolute
 height 100%
 background-color rgba(0,0,0,0.7) 
 z-index 100
 width 414px

h1
 padding 0.2em 0.6em 
 color $redcolor
 font-size 5em

h1 span, #clearpatch a
 color #ffffff

h1 span.small
 font-size 0.15em

#clearpatch 
 padding-left: 0.2em;

map_canvas
 height 100%

